################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cards/.vs/Cards/v16
/Cards/Debug
